@import 'utils.css';

body {
	padding-top: 100px;
}
a {
	color: black;
	text-decoration: none;
}
table#publications {
	margin-bottom: 0px;
}
table#publications label {
	cursor: pointer;
	font-weight: normal;
}
#logo {
	color: #61D145;
}